swiper-container{
  height: 100%;
}
swiper-slide
{
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 60px;
  font-weight: bold;
  h1{
     color: #000;
     z-index: 100;
     font-size: 60px;
     background: bold;
     background-color: #fff;
     border-radius: 20px;
     padding: 10px;
  }

  img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
  }
  h2{
    color: #000;
    z-index: 100;
    font-size: 60px;
    background: bold;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
 }

 
 }
 h3{
  color: #000;
  z-index: 100;
  font-size: 60px;
  background: bold;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
}

h4{
  color: #000;
  z-index: 100;
  font-size: 60px;
  background: bold;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
}

h5{
  color: #000;
  z-index: 100;
  font-size: 60px;
  background: bold;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
}

h6{
  color: #000;
  z-index: 100;
  font-size: 60px;
  background: bold;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
}



